<div class="page-header">
  <h3><%= @dat_file_title %></h3>
</div>
<p>
  <a href="<%= @picture_url %>">
    <img src="<%= @picture_url %>">
  </a>
</p>
<p class="text-right">Download: <a href="<%= @dat_file_url %>"><%= @dat_file_name %></a></p>
<a href="/" type="button" class="btn btn-default navbar-btn pull-left">
  <span class="glyphicon glyphicon-chevron-left"></span> Return to <strong>Galeri</strong>
</a>